@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

.detail {
  font-family: "Nanum Gothic", sans-serif;
  letter-spacing: -0.5px;
  font-size: 11pt;
  // margin: 0 auto;
  padding: 30pt;
  flex: 1;

  .container2 {
    width: 100%;
    display: flex;
    padding: 0 70px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    min-height: 1px;
    .flowerImage > img {
      width: calc(100vw - 680px);
      max-width: 500px;
      border-radius: 15px;
    }
    .all {
      width: 410px;
      display: flex;
      flex-direction: column;
      gap: 0.3em;
      margin-left: 50px;
    }
  }

  .contents2 {
    padding-left: 64px;
  }
  .flowerName {
    font-size: 20pt;
    font-weight: 700;
  }

  #buyBtn,
  #cartBtn {
    width: 200px;
    background: none;
    border: 2px solid #69a181;
    line-height: 1;
    padding: 1em;
  }
  #buyBtn + #cartBtn {
    margin-left: 5px;
  }

  #buyBtn:hover,
  #cartBtn:hover,
  #buyBtn:focus,
  #cartBtn:focus {
    background-color: #69a181 !important;
    color: white;
    transition: all ease 0.5s 0s;
    box-shadow: inset 0 0 0 2em var(--hover);
  }
  .title-t {
    display: inline-block;
    width: 64px;
    // margin-right: 5pt;
  }
}
.path {
  margin-top: 10pt;
  font-size: 10pt;
  color: inherit;
  font-weight: 500;
  list-style: none;
  display: flex;
  padding: 10pt 0;
  letter-spacing: -0.5pt;

  a {
    color: gray;
    font-weight: 600;
    text-decoration: none;
  }

  a:link {
    color: gray;
    text-decoration: none;
  }

  a:visited {
    color: gray;
    text-decoration: none;
  }

  a:focus {
    color: #69a181;
    text-decoration: none;
  }

  a:hover {
    color: #69a181;
    text-decoration: none;
  }

  a:active {
    color: #69a181;
    text-decoration: none;
  }
  .greater {
    margin: 3pt 5pt 5pt 5pt;
    justify-content: right;
    float: right;
  }
}
