@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.viewBox {
  font-family: 'Nanum Gothic', sans-serif;
  justify-content: center;
  font-size: 11pt;
  h1 {
    flex: 100%;
    color: #69a181;
    text-align: center;
    font-weight: bold;
    margin: 15pt 0;
  }

  .table {
    margin: 0 auto;
    width: 85%;
    align-items: center;
    justify-items: center;
    .titleBold {
      font-weight: bold;
    }
  }
  tr {
    height: 50pt;
    vertical-align: middle;
  }
  .viewForm {
    margin: 0 auto;
    width: 85%;
    align-items: center;
    justify-items: center;
  }

  .viewButtons {
    display: flex;
    justify-content: center;
    button {
      width: 80px;
      font-size: 11pt;
      margin: 1em 0.3em;
      border-style: none;
      height: 25pt;
      border-radius: 5px;
      background-color: #69a181;
      color: white;
      align-items: center;
    }

    button:hover,
    button:focus {
      background-color: #b5d2c2 !important;
      color: white;
      transition: all ease 0.5s 0s;
      box-shadow: inset 0 0 0 2em var(--hover);
    }
  }
}
