@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

#search-result {
  font-family: 'Nanum Gothic', sans-serif;
  h1 {
    flex: 100%;
    color: #69a181;
    text-align: center;
    font-weight: bold;
    margin: 15pt 0;
  }
  .col-md-4 {
    display: grid;
    justify-items: center;
  }

  a {
    text-decoration-line: none;
  }
}
