@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.signUpForm {
  font-size: 11pt;
  font-family: 'Nanum Gothic', sans-serif;
  position: relative;
  display: flex;

  h1 {
    color: #69a181;
    text-align: center;
    font-weight: bold;
    margin: 15pt;
  }

  .container {
    input {
      display: flex;
      margin: 0 auto;
      border-radius: 5px;
      border: 1px solid gray;
      width: 40%;
      height: 30pt;
      font-size: 11pt;
      padding-left: 10px;
    }
  }
}
