@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.signUpForm {
  font-size: 11pt;
  font-family: 'Nanum Gothic', sans-serif;
  position: relative;
  display: flex;
  width: 100%;
  form {
    width: 50%;
    margin: 0 auto;
  }

  h1 {
    color: #69a181;
    text-align: center;
    font-weight: bold;
    margin: 15pt;
  }

  .container {
    input {
      border-radius: 5px;
      border: 1px solid gray;
      width: 100%;
      height: 30pt;
      font-size: 11pt;
      padding-left: 10px;
      margin-top: 6pt;
    }
  }
  p {
    text-align: center;
    padding: 3pt;
    margin: 0 auto;
    color: #4d4d4d;
    font-weight: 700;
  }

  #submitBtn {
    background-color: #69a181;
    color: white;
  }
}
